<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
        <script src="scripts/order.js"></script>

</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="jumbotron text-center">
            <div class="container">
                <h3> Welcome to work. Press this button to check on the way orders<br>Drag and move around the items</h3>
                <a type="button" class="btn btn-lg btn-primary" href="/getOrder">Get Your Order</a>
                <h4 id="current_time">
                </h4>
            </div>
        </div>

        <div class="grid">
            <%rowsjson.forEach((item) => {%>
                <div class="item">
                    <div class="item-content">
                        <div class="shadow p-3 mb-5 bg-white rounded">

                            <h3>
                                <%=item.order_name%>
                            </h3>
                            <div class="row">
                                <div class="column">Expected Arrival Time:</div>
                                <div class="column">
                                    <%=moment(item.arrival_time).format( 'DD  MMM  YYYY, h:mm:ss a')%>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column"> Address:</div>
                                <div class="column">
                                    <%=item.address%>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">Item:</div>
                                <div class="column">
                                    <%=item.items%>
                                </div>
                            </div>
                            <div class="column">Contact Number:</div>
                            <div class="column">
                                <%=item.contact_num%>
                            </div>
                            <br>
                            <button id="delete" class="delete btn btn-outline-secondary" value="<%=item.id%>">Delete</button>
                            <button id="return" class="return btn btn-outline-warning" value="<%=item.id%>"> Return Order</button>
                            <button id="copy" class="copy btn btn-outline-info" data-clipboard-text="<%=item.address%>">Copy Address</button>

                        </div>


                    </div>
                </div>
                <% }); %>
        </div>


        <div id="viewDiv"></div>

        <div id="snackbar">Copied</div>



        <link rel="stylesheet" href="https://js.arcgis.com/4.13/esri/themes/light/main.css">
        <script src="https://js.arcgis.com/4.13/"></script>
        <style>
            #viewDiv {
                margin: auto;
                margin-left: 50px;
                height: 90%;
                width: 90%;
            }
        </style>
        <script>
            require(["esri/Map", "esri/views/MapView", "esri/widgets/Search"],
                function(Map, MapView, Search) {

                    var map = new Map({
                        basemap: "topo-vector"
                    });
                    // Create a Map instance var myMap = new Map({ basemap: 'streets' }); // Create a MapView instance (for 2D viewing) and reference the map instance
                    var view = new MapView({
                        container: "viewDiv",
                        map: map,
                        center: [-111.822546, 43.79132], // longitude, latitude
                        zoom: 13,
                        search: search
                    });

                    view.on("click", function(evt) {
                        search.clear();
                        view.popup.clear();
                        if (search.activeSource) {
                            var geocoder = search.activeSource.locator; // World geocode service
                            var params = {
                                location: evt.mapPoint
                            };
                            geocoder.locationToAddress(params)
                                .then(function(response) { // Show the address found
                                    var address = response.address;
                                    showPopup(address, evt.mapPoint);
                                }, function(err) { // Show no address found
                                    showPopup("No address found.", evt.mapPoint);
                                });
                        }
                    });

                    function showPopup(address, pt) {
                        view.popup.open({
                            title: +Math.round(pt.longitude * 100000) / 100000 + "," + Math.round(pt.latitude * 100000) / 100000,
                            content: address,
                            location: pt
                        });
                    }
                    var search = new Search({
                        view: view
                    });
                    view.ui.add(search, "top-right");
                });
        </script>
</body>

</html>