<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
        <script src="https://unpkg.com/muuri@0.8.0/dist/muuri.min.js"></script>
        <script src="https://unpkg.com/web-animations-js@2.3.2/web-animations.min.js"></script>
        <script src="scripts/order.js"></script>
        <link rel="stylesheet" href="https://js.arcgis.com/4.13/esri/themes/light/main.css">
        <script src="https://js.arcgis.com/4.13/"></script>
</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="jumbotron text-center">
            <div class="container">
                <h3> Welcome to work. Press this button to check on the way orders</h3>
                <a type="button" class="btn btn-lg btn-primary" href="/getOrder"><span class="glyphicon glyphicon-download"></span>Get Your Order</a>
            </div>
        </div>

        <div class="grid">
            <%rowsjson.forEach((item) => {%>
                <div class="item">
                    <div class="item-content">
                        <div class="shadow p-3 mb-5 bg-white rounded">
                            Order time:
                            <%=item.order_time%>
                                <br> Expected Arrival Time:
                                <%=item.expected_time%>
                                    <br> Address:
                                    <%=item.address%>
                                        <br> Item:
                                        <%=item.items%>
                                            <br>
                                            <button id="delete" class="delete" value="<%=item.id%>"> Delete</button>
                                            <button id="return" class="return" value="<%=item.id%>"> Return Order</button>

                        </div>


                    </div>
                </div>
                <% }); %>
        </div>


        <div id="viewDiv"></div>

</body>

</html>

<script>
    require([
        "esri/Map",
        "esri/views/MapView"
    ], function(Map, MapView) {

        var map = new Map({
            basemap: "topo-vector"
        });

        var view = new MapView({
            container: "viewDiv",
            map: map,
            center: [-111.7897, 43.8260], // longitude, latitude
            zoom: 15
        });
    });
</script>